/*$Id$*/

#mics_stacked_backdrop {
    display: none;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow:hidden;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
  }

  #mics_stacked_backdrop + #mics_stacked_carpet {
    width: 400px;
    z-index: 9999;
    height: 100vh;
    overflow:hidden;
    display: none;
    position: fixed;
    top:0px;
    border: 0px;
  }

  #mics_stacked_backdrop + #mics_stacked_carpet[class=micsPanelLeft]{
    left:0px;
  }

  #mics_stacked_backdrop + #mics_stacked_carpet[class=micsPanelRight]{
    right:0px;
  }

  #mics_stacked_backdrop + #mics_stacked_carpet > #micsiframe {
    width: 100%;
    height: 100%;
    border: 0px;
    overflow:hidden;
  }
  
  .micsnumber {
    background: #ff4444;
    color: white;
    bottom: 12px;
    left: 10px;
    border-radius: 8px;
    position: absolute;
    width: fit-content;
    padding: 1px 4px;
    font-size: 13px;
  }
  
  .micsdot {
    background: #ff4444;
    color: transparent;
    bottom: 15px;
    left: 14px;
    position: absolute;
    font-size: 12px;
    display: none;
    width: 8px;
    height: 8px;
    border-color: #fa573a !important;
    border-radius: 8px;
  }
/* $Id$ */

.micsDiv {
    font-size: 12px;
    position: fixed;
    z-index: 10000000;
  }
  
  .micshidden {
    cursor: pointer;
    overflow:hidden;
  }
  
  
  .micsBox{
      transition:200ms;
  }
  
  .micshidden .micsBox{
      opacity:0;
  }
  
  .micswrap{
    white-space:nowrap;
  }
  
  .micscontent{
    overflow:hidden;
  }
  
  .micscontent * {
    display: inline-block;
  }
  
  .micsiframeDiv{
    display:none;
  }
  
  .micscontent a {
    text-decoration: none;
  }
  .micscontent a:hover {
    text-decoration: underline;
  }
  
  .micsheader {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .micstoggle {
    cursor: pointer;
  }
  .micstoggle:before {
    content: " Hide ";
  }
  
  .micsaction {
    font-size: 10px;
  }
  
  .micsaction > * {
    padding: 3px;
  }
  
  .micsaction > *:hover {
    transform:scale(1.1);
    font-weight:bold;
  }
  
  .micsclose {
    cursor: pointer;
  }
  
  .micsclose:before {
    content: " Close ";
  }
  
  .micscloseSymbol:before {
    content: " X  ";
  }
  
  .micstoggleSymbol:before{
    content:" V ";
    display:inline-block;
  }
  
  .micsTop .micstoggleSymbol:before{
    transform:rotate(180deg);
  }

  .micsNavTop .micstoggleSymbol:before{
    transform:rotate(180deg);
  }
  
  .micsLeft .micstoggleSymbol:before{
    transform:rotate(90deg);
  }
  
  .micsRight .micstoggleSymbol:before{
    transform:rotate(270deg);
  }
  
  .micsNavTop{

    top: 0;
    left: 0;
    position: relative;
    border-bottom: 4px solid;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);

  }
  
  
  .micsTop {
    top: 0;
    left: 0;
    border-bottom: 4px solid;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .micsTop.micshddn {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  
  .micsBottom {
    bottom: 0;
    left: 0;
    border-top: 4px solid;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .micsBottom .micsarw {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .micsBottom.micshddn {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  
  .micsTop, .micsBottom ,.micsNavTop {
    width: 100%;
  }
  .micsTop.micshidden, .micsBottom.micshidden , .micsNavTop.micshidden{
    min-height: 0px;
    height: 0px;
  }
  
  .micsTop.micshidden:hover, .micsBottom.micshidden:hover, .micsNavTop.micshidden:hover{
    min-height: 15px;
    height: 15px;
  }

  .micsNavTop .micsBox{
    min-height:30px;
    margin: 0px;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

  }
  
  .micsTop .micsBox, .micsBottom .micsBox {
    min-height:30px;
    margin: 3px;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .micsTop .micsimage, .micsBottom .micsimage , .micsNavTop .micsimage{
    -webkit-box-flex: auto;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
      text-align:center;
  }
  .micsTop .micsimage img, .micsBottom .micsimage img ,.micsNavTop .micsimage img{
    width: 50px;
    height: 25px;
  }
  .micsTop .micsaction, .micsBottom .micsaction, .micsNavTop .micsaction {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 2;
        -ms-flex: 2 10px;
            flex: 2 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .micsTop .micsheader, .micsBottom .micsheader , .micsNavTop .micsheader{
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
  }
  
  .micsTop .micsinner, .micsBottom .micsinner ,.micsNavTop .micsinner{
    -webkit-box-flex: 100;
        -ms-flex: 100 auto;
            flex: 100 auto;
  }
  
  
  .micsTop .micscontent, .micsBottom .micscontent , .micsNavTop .micscontent{
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 20;
        -ms-flex: 20;
            flex: 20;
    text-align: center;
    display:flex;
    align-items:center;
    flex-flow:row wrap;
  }
  .micsTop .micsinner > *, .micsBottom .micsinner > *,.micsNavTop .micsinner > *{
    padding: 0px 2px;
  }
  
  .micsLeft .micscontent > *, .micsRight .micscontent > * {
    padding: 2px 10px;
  }
  
  
  
  .micsLeft, .micsRight {
    width: 400px;
    margin: 0;
    padding: 0;
  }
  .micsLeft.micshidden, .micsRight.micshidden {
    min-width: 0px;
    width: 0px !important;
  }
  
  .micsLeft.micshidden:hover, .micsRight.micshidden:hover {
    min-width: 15px;
    width: 15px;
  }
  
  .micsLeft .micsBox, .micsRight .micsBox {
    padding: 10px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .micsLeft .micsimage, .micsRight .micsimage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: auto;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .micsLeft .micsimage img, .micsRight .micsimage img {
    width: 50px;
    height: 20px;
  }
  .micsLeft .micsclose, .micsRight .micsclose {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .micsLeft .micstoggle, .micsRight .micstoggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .micsLeft .micsaction, .micsRight .micsaction {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex:auto;
        -ms-flex:auto;
            flex:auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
    text-align: center;
  }
  .micsLeft .micscontent, .micsRight .micscontent {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 10;
        -ms-flex: 10 265px;
            flex: 10 265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
  }
  
  
  .micsLeft .micsdesc,.micsRight .micsdesc{
      padding-right:5px;
  }
  
  
  .micsRight {
    right: 0;
    bottom: 200px;
    border-left: 4px solid;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .micsRight .micsarw {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .micsRight.micshddn {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .micsRight .micsaction {
    text-align: right;
  }
  
  .micsLeft {
    left: 0;
    bottom: 200px;
    border-right: 4px solid;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .micsLeft .micsarw {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .micsLeft.micshddn {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .micsLeft .micsimage {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .micsLeft .micsaction {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
  
  .micsdark {
    background-color: #42464c;
    color: #f8f8f8;
    border-color: #f1703b;
  }
  .micsdark .micsclose {
    color: #fff;
  }
  .micsdark .micscontent a {
    color: steelblue;
    opacity:0.9;
    transition: .25s ease-in-out;
  }
  
  .micsdark .micscontent a:hover {
    opacity:1;
    transform:scale(1.02);
  }
  
  
  .micsdark .micsarw circle {
    fill: #ab8063;
  }
  .micsdark .micsarw path {
    fill: #42464c;
  }
  
  
      .micshide{
           display:none;
      }
  
     .micsTop.bannerhide,.micsBottom.bannerhide,.micsNavTop.bannerhide{
      transform:scaleY(0);
      }
  
     .micsLeft.bannerhide,.micsRight.bannerhide{
          transform:scaleX(0);
      }
  
     #mics_tpDiv .clx {
              position: fixed;
              top: 0px;
              right: 0px;
          width:50px;height:50px;color:white !important;
              transition: transform .45s ease-in-out;
      
          }
      
      #micsbackdrop{
          position:fixed;
            width:100%;
            height:100%;
          top:0;left:0;bottom:0;right:0;
            background-color: rgba(0,0,0,0.5);
            z-index:10000001;         
      }
  
      #mics_tpDiv{
              position:absolute;
          top:175px;
              width:50%;
              left:30%;
          width: 250px;
          min-height: 100px;
                z-index: 10000002;
      box-sizing:border-box;
      }
  
   
  
      .clx:hover {
          transition: 0.8s ease;
          opacity:1;
          cursor:pointer;
      }
  .clx:before {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 13px;
      height: 0;
      border-top: 2px solid #000;
      transform: rotate(45deg);
      transform-origin: center;
  }
  .clx:after {
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 13px;
      height: 0;
      border-top: 2px solid #000;
      transform: rotate(-45deg);
      transform-origin: center;
  }
   
   #mics_tpDiv .clx:before {
      width:20px;
      border-top: 3px solid #ddd;
   }
   
   #mics_tpDiv iframe{
      border:none;
   }
   
   #mics_tpDiv .clx:after {
       width:20px;
      border-top: 3px solid #ddd;
   }
   
  .clx-txt{
      font-size:11px;
      opacity:0.8;
      float:right;
      position:relative;
      top:3px;
  }
   
  .clx-txt:hover{
      opacity:1;
      cursor:pointer;
  }
  
   
  .micsloading:after {
    content: ' .';
    animation: micsdots 1s steps(5, end) infinite;
  }
   
  @keyframes micsdots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
  }

/*$Id$*/

#micsselfhelpContainer *, #selfhelpicon *{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#micsselfhelpContainer .cls-1 {
  fill:#ffffff;
}

/* Self-help icon positioning */
#selfhelpicon {
  position: fixed;
  z-index: 19999;
  display: none;
  /* -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; */
  width: fit-content;
  white-space: nowrap;
  -webkit-transition: margin 0.25s ease-in-out;
  -moz-transition: margin 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out;
}



/* Various positions for the self-help icon */

#selfhelpicon.right-top.showselfhelpicon,
#selfhelpicon.right-center.showselfhelpicon,
#selfhelpicon.right-bottom.showselfhelpicon {
  margin: 0;
}

#selfhelpicon.right-top {
  top: 10%;
  right: 0;
  margin-right: -30px;
}

#selfhelpicon.right-bottom {
  bottom: 10%;
  right: 0;
  margin-right: -30px;
}

#selfhelpicon.right-center {
  top: 50%;
  right: 0;
  margin-right: -30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

#selfhelpicon.left-top.showselfhelpicon,
#selfhelpicon.left-center.showselfhelpicon,
#selfhelpicon.left-bottom.showselfhelpicon {
  margin: 0;
}

#selfhelpicon.left-top {
  top: 10%;
  left: 0;
  margin-left: -30px;
}

#selfhelpicon.left-bottom {
  bottom: 10%;
  left: 0;
  margin-left: -30px;
}

#selfhelpicon.left-center {
  top: 50%;
  left: 0;
  margin-left: -30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

#selfhelpicon.top-left.showselfhelpicon,
#selfhelpicon.top-center.showselfhelpicon,
#selfhelpicon.top-right.showselfhelpicon {
  margin: 0;
}

#selfhelpicon.top-left {
  top: 0;
  left: 10%;
  margin-top: -30px;
}

#selfhelpicon.top-right {
  margin-top: -30px;
  top: 0;
  right: 10%;
}

#selfhelpicon.top-center {
  top: 0;
  left: 50%;
  margin-top: -30px;
}

#selfhelpicon.bottom-left.showselfhelpicon,
#selfhelpicon.bottom-center.showselfhelpicon,
#selfhelpicon.bottom-right.showselfhelpicon {
  margin: 0;
}

#selfhelpicon.bottom-left {
  bottom: 0;
  left: 10%;
  margin-bottom: -30px;
}

#selfhelpicon.bottom-right {
  bottom: 0;
  margin-bottom: -30px;
  right: 10%;
}

#selfhelpicon.bottom-center {
  bottom: 0;
  margin-bottom: -30px;
  left: 50%;
}
/* Toggler styles */
#selfhelpicon > #micsselfhelptoggler {
  background-color: #003297;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 10px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  align-items: center;
  gap: 10px;
}

#selfhelpicon.right-top > #micsselfhelptoggler,
#selfhelpicon.right-center > #micsselfhelptoggler,
#selfhelpicon.right-bottom > #micsselfhelptoggler {
  rotate: 180deg;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px 5px;
}

#selfhelpicon.left-top > #micsselfhelptoggler,
#selfhelpicon.left-center > #micsselfhelptoggler,
#selfhelpicon.left-bottom > #micsselfhelptoggler {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px 5px;
}

#selfhelpicon.top-left > #micsselfhelptoggler,
#selfhelpicon.top-center > #micsselfhelptoggler,
#selfhelpicon.top-right > #micsselfhelptoggler {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  writing-mode: unset;
  -webkit-writing-mode: unset;
}



#selfhelpicon.bottom-left > #micsselfhelptoggler,
#selfhelpicon.bottom-center > #micsselfhelptoggler,
#selfhelpicon.bottom-right > #micsselfhelptoggler {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  writing-mode: unset;
  -webkit-writing-mode: unset;
}

#selfhelpicon > #micsselfhelptoggler > #helphublogoinwidget {
  rotate: 90deg;
}
#selfhelpicon.top-left > #micsselfhelptoggler > #helphublogoinwidget,
#selfhelpicon.top-center > #micsselfhelptoggler > #helphublogoinwidget,
#selfhelpicon.top-right > #micsselfhelptoggler > #helphublogoinwidget,
#selfhelpicon.bottom-left > #micsselfhelptoggler > #helphublogoinwidget,
#selfhelpicon.bottom-center > #micsselfhelptoggler > #helphublogoinwidget,
#selfhelpicon.bottom-right > #micsselfhelptoggler > #helphublogoinwidget{
  rotate: 0deg;
}
#helphublogotextcontainer {
  display: flex;
  align-items: center;
  column-gap: 12px;
  
}
#helphublogotextcontainer #text{
      max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Text inside the toggler */
#selfhelpicon.right-top > #micsselfhelptoggler > #textself,
#selfhelpicon.right-center > #micsselfhelptoggler > #textself,
#selfhelpicon.right-bottom > #micsselfhelptoggler > #textself {
  color: #ffffff;
  white-space: nowrap;
  font-size: 14px;
  font-family:  inherit;
  user-select: none;
}

#selfhelpicon.left-top > #micsselfhelptoggler > #textself,
#selfhelpicon.left-center > #micsselfhelptoggler > #textself,
#selfhelpicon.left-bottom > #micsselfhelptoggler > #textself {
  color: #ffffff;
  white-space: nowrap;
  font-size: 14px;
  font-family:  inherit;
  user-select: none;
}

/* Help container */
#micsselfhelpContainer {
  position: fixed;
  align-items: center;
  background-color: #ffffff;
  z-index: 19999;
  width: 400px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 20vh;
  font-family: inherit;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 1px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-bottom: 20px;
  border-radius: 5px;
}

#micsselfhelpContainer.right-top.showmicsselfhelpContainer,
#micsselfhelpContainer.right-center.showmicsselfhelpContainer,
#micsselfhelpContainer.right-bottom.showmicsselfhelpContainer {
  right:10px !important;
}

#micsselfhelpContainer.right-top{
  top: 10%;
}

#micsselfhelpContainer.right-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

#micsselfhelpContainer.right-bottom {
  bottom: 10%;
}

#micsselfhelpContainer.right-top,
#micsselfhelpContainer.right-center,
#micsselfhelpContainer.right-bottom {
  right: -401px;
}

/*left side*/
#micsselfhelpContainer.left-top.showmicsselfhelpContainer,
#micsselfhelpContainer.left-center.showmicsselfhelpContainer,
#micsselfhelpContainer.left-bottom.showmicsselfhelpContainer {
  left: 10px !important;
}

#micsselfhelpContainer.left-top{
  top: 10%;
}

#micsselfhelpContainer.left-center {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

#micsselfhelpContainer.left-bottom {
  bottom: 10%;
}

#micsselfhelpContainer.left-top,
#micsselfhelpContainer.left-center,
#micsselfhelpContainer.left-bottom {
  left:-401px
}

/*top side*/
#micsselfhelpContainer.top-left.showmicsselfhelpContainer,
#micsselfhelpContainer.top-center.showmicsselfhelpContainer,
#micsselfhelpContainer.top-right.showmicsselfhelpContainer {
  top: 10px !important;
}

#micsselfhelpContainer.top-left{
  left: 10%;
}

#micsselfhelpContainer.top-center {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

#micsselfhelpContainer.top-right {
  right: 10%;
}

#micsselfhelpContainer.top-left,
#micsselfhelpContainer.top-center,
#micsselfhelpContainer.top-right {
  top: -1000px;
}
/*bottom side*/
#micsselfhelpContainer.bottom-left.showmicsselfhelpContainer,
#micsselfhelpContainer.bottom-center.showmicsselfhelpContainer,
#micsselfhelpContainer.bottom-right.showmicsselfhelpContainer {
  bottom: 10px !important;
}

#micsselfhelpContainer.bottom-left{
  left: 10%;
}

#micsselfhelpContainer.bottom-center {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

#micsselfhelpContainer.bottom-right {
  right: 10%;
}

#micsselfhelpContainer.bottom-left,
#micsselfhelpContainer.bottom-center,
#micsselfhelpContainer.bottom-right {
  bottom: -1000px;
}

/* material list */
#materiallistcontainer {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100px;
  max-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 14px ;
  text-align: left !important;
  letter-spacing: 0.03em;
}

.flowlist {
  cursor: pointer;
  font-family: inherit;
  height: max-content;
  display: flex;
  width: 100%;
  border-radius: 4px;
  align-items: center;
  word-break: break-word;
  gap: 10px;
  font-size: 12px;
  color: #101010;
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
  padding: 10px;
}

.flowlist:hover {
  background-color: aliceblue;
}

.flowlist>.materialicon{
  background-color: #0032970a;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .flowlist:hover > .materialicon{
  background-color: #ffffff !important;
} */

.flowlist>.materialicon>.materialdesign {
  width: 14px;
  height: 14px;
  stroke: #003297;
}

.flowlist > .materialicon > .materialdesign > .walkthrouhiconinnerfill{
  fill: #003297;
}

.flowlist > #content {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: calc(100% - 2vw);
}

.flowlist > #content > #materialtype {
  font-size: 10px;
  color: #003297;
  opacity: 0.8;
}

#micsselfhelpContainer > #topbar {
  height: 45px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  color: white;
  font-weight: 600;
  padding: 12px 12px;
  font-size: 14px;
  background-color: #003297;
  letter-spacing: 0.035em;
}

#micsselfhelpContainer > #topbar > #text {
  line-height: 1.5 !important;
  letter-spacing: 0.02em !important;
  display: -webkit-box;
  overflow: hidden;
  max-width: 80%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  user-select: none;
  text-overflow: ellipsis;
}

#micsselfhelpContainer > #topbar > #micsselfhelpclosableIcon {
  border-radius: 4px;
  cursor: pointer;
}

#micsselfhelpContainer > #topbar > #micsselfhelpclosableIcon:hover {
  background-color: #ffffff17;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Search bar */
#materiallistsearchbar {
  width: -webkit-fill-available;
  width: -moz-available;
  height: 35px;
  margin: 14px 14px 7px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #9391917d;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  opacity: 0.7;
  background: #ffffff;
}
#materiallistsearchbar:focus-within {
  opacity: 1;
}

#materiallistsearchbar > #micsselfhelpsearchinput {
  width: 88%;
  background-color: inherit;
  padding: 0px 1px 0px 0px;
  height: 100%;
  outline: none;
  color: #101010;
  border: none;
  font-size: 12px;
}

#materiallistsearchbar > #micsselfhelpsearchinput::placeholder {
  color: #0000006e;
}


#materiallistsearchbar > #searchicon {
  width: 17px;
  color: #003297;
  padding: 3px;
  margin: 5px;
  stroke-width: 0.7px;
  fill: #615a4e;
}

#materiallistcontainer::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 5px;
}
 
#materiallistcontainer::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border-radius: 5px;
}

 #materiallistcontainer::-webkit-scrollbar {
  width: 6px;
}


/*interactive video */
#dapVideoOverlay,
#dapContentOverlay,
#dapGuideOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;
}

#dapVideoFrameContainer,
#dapContentFrameContainer,
#dapGuideFrameContainer {
  position: relative;
  width: 80%;
  height: 90%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#dapVideoFrameContainer > #dapVideoHeader,
#dapContentFrameContainer > #dapContentHeader,
#dapGuideFrameContainer > #dapGuideHeader {
  width: 100%;
  height: 2.5vw;
  display: flex;
  flex-direction: row;
}

#dapVideoFrameContainer > #dapVideoHeader > #dapVideoHeader_left {
  width: 80%;
  height: 100%;
  display: flex;
  padding: 0.7vw 2vw 0 2vw;
}

#dapContentFrameContainer > #dapContentHeader > #dapContentHeader_left,
#dapGuideFrameContainer > #dapGuideHeader > #dapGuideHeader_left {
    width: 80%;
    height: 100%;
    display: flex;
    padding: 0vw 0.6vw;
    align-items: center;
}


#dapVideoFrameContainer > #dapVideoHeader > #dapVideoHeader_left > svg.materialdesign
{
  height: 24px;
  width: 24px;
  stroke: #008080;
  fill: none;
}
#dapGuideFrameContainer > #dapGuideHeader > #dapGuideHeader_left > svg.materialdesign{
  fill: #008080 !important;
  height: 20px;
  width: 20px;
  stroke: #008080;

}
#dapContentFrameContainer > #dapContentHeader > #dapContentHeader_left > svg{
    width: 2em;
    height: 2em;
}


#dapVideoFrameContainer > #dapVideoHeader > #dapVideoHeader_left >#text,
#dapContentFrameContainer > #dapContentHeader > #dapContentHeader_left > #text,
#dapGuideFrameContainer > #dapGuideHeader > #dapGuideHeader_left > #text {
  font-size: 16px;
  color: #008080;
  font-weight: 600;
  user-select: none;
  margin: 0px 8px;
}
#dapContentFrameContainer > #dapContentHeader > #dapContentHeader_left > #text {
  margin: 6px 9px 0px;
}


#dapVideoFrameContainer > #dapVideoHeader > #dapVideoHeader_right,
#dapContentFrameContainer > #dapContentHeader > #dapContentHeader_right,
#dapGuideFrameContainer > #dapGuideHeader > #dapGuideHeader_right {
  width: calc(100% - 80%);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5vw;
  align-items: center;
}

#dapVideoFrameContainer > #dapVideoHeader > #dapVideoHeader_right > #closableIcon,
#dapContentFrameContainer > #dapContentHeader > #dapContentHeader_right > #closableIcon,
#dapGuideFrameContainer > #dapGuideHeader > #dapGuideHeader_right > #closableIconGuide {
  fill: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0.5px; 
  color: #ff3232;
}

#dapVideoFrameContainer>#dapVideoHeader>#dapVideoHeader_right>#closeableIcon:hover,
#dapContentFrameContainer > #dapContentHeader > #dapContentHeader_right>#closableIcon:hover,
#dapGuideFrameContainer > #dapGuideHeader > #dapGuideHeader_right>#closableIconGuide:hover {
  background: #ffdbdba6;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

#dapVideoFrameContainer > iframe,
#dapContentFrameContainer > iframe,
#dapGuideFrameContainer > iframe {
  width: 100%;
  height: calc(100% - 2.5vw);
  border: none;
}


body > #interactivevideo {
  padding: 0.75vw 2vw 2vw;
}



#materiallistcontainer > #loader {
  z-index: 99999;
  align-content: center;
  height: unset;
}

#materiallistcontainer > #loader > #icon {
  border-color: rgb(68 68 68) rgb(68 68 68 / 10%) rgb(68 68 68 / 10%) rgb(68 68 68 / 10%);
  height: 25px;
  width: 25px;
  -webkit-animation: dap_spinner 1s linear infinite;
  animation: dap_spinner .75s linear infinite;
  border-color:  rgb(68 68 68) rgb(68 68 68 / 10%) rgb(68 68 68 / 10%) rgb(68 68 68 / 10%);
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
}

@keyframes dap_spinner {
  0% {
      transform: translate3d(0, 0, 0) rotate(0deg)
  }

  100% {
      transform: translate3d(0, 0, 0) rotate(359deg)
  }
}

/* Tabswitch */
#micsselfhelpContainer>#tabswitch {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #0000001a;
  padding: 0 20px;
}

#micsselfhelpContainer>#tabswitch>#left>#tabs {
  display: flex;
  gap: 10px;
}

#micsselfhelpContainer>#tabswitch>#left {
  display: flex;
}

#micsselfhelpContainer>#tabswitch>#left>#tabs>.tab {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
  font-size: 13px;
  cursor: pointer;
}

#micsselfhelpContainer>#tabswitch>#left>#tabs>.tab.selected {
  border-bottom: 2px solid #003297ba;
}

#micsselfhelpContainer>#tabswitch>#left>#tabs>.tab>svg {
  width: 14px;
}
/* Task bar */
#micsselfhelpContainer>#taskbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 10px;
}

#micsselfhelpContainer>#taskbar>#top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

#micsselfhelpContainer>#taskbar>#barcontainer {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

#micsselfhelpContainer>#taskbar>#barcontainer>#bar {
  width: 100%;
  background: #0000001a;
  height: 5px;
}

#micsselfhelpContainer>#taskbar>#barcontainer>#bar>#completed {
  background: linear-gradient(45deg, #0080f7, #d100ce);
  height: 100%;
  border-radius: 10px;
}


/* Drag icon Handle */
#selfhelpicon > #micsselfhelptoggler > .drag-handle{
  background: #ffffff29;
  border-radius: 2px;
  cursor: grabbing;
  transition: 0.2s ease-in-out;
  opacity:0;
  width:0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 0;
}
#selfhelpicon > #micsselfhelptoggler > .drag-handle > svg{
  width: 14px;
}
#selfhelpicon:hover #micsselfhelptoggler > .drag-handle {
  width:fit-content;
  height:fit-content;
  opacity:1;
      padding: 2px 5px;
}
#selfhelpicon > #micsselfhelptoggler > .drag-handle:hover {
  background: #ffffff50;
}